@import "./Animation.css";
@import "./Loader.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: rgb(69, 122, 124);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 25px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
h3 {
  font-size: 25px;
  margin-bottom: 2rem;
  text-align: center;
}
h4 {
  font-size: 16px;
  text-align: center;
}
.background-home {
  background-image: url(./images/bcg.jpg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: calc(100vh - 12.9vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 80%;
  font-weight: bold;
  /* height: 100vh; */
}

.home h1 {
  background-color: rgba(34, 34, 34, 0.269);
}

/* ------------ */
/* ---HEADER--- */
/* ------------ */
.head img {
  height: 30px;
}

.head {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgb(69, 122, 124); */
  background-color: rgb(88, 147, 147);
  border-bottom: 1px solid lightgray;
}
.sign {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 70px;
  border: 1px solid red;
}

/* ------------ */
/* ---MOVIES--- */
/* ------------ */

.side_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid darkslategrey;
  width: 250px;
  height: 100vh;
  overflow: hidden scroll;
  background-color: rgba(102, 185, 185, 0.215);
}
.side_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side_rigth {
  border: 1px solid rgb(55, 255, 0);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  font-size: 20px;
}
.list img {
  height: 250px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.reset {
  border-radius: 2px;
  margin: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.rated {
  padding-top: 2rem;
}
.info {
  text-align: center;
}

.test {
  font-weight: bold;
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: rgba(102, 185, 185, 0.215);
}
.underline {
  border-bottom: 2px solid darkslategray;
  /* width: 1250px; */
  margin: 2rem 0;
}

.card-wrapp button {
  border-radius: 2px;
  height: 30px;
  width: 160px;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}

.active {
  background-color: darkslategray;
  color: white;
}

.notactive {
  background-color: white;
  color: darkslategray;
  opacity: 0.6;
}

.notactive:hover {
  background-color: white;
  color: darkslategray;
  opacity: 1;
}
/* -------------------- */
/* ---MOVIES DETAILS--- */
/* -------------------- */
.movie_details {
  padding: 2rem;
  border: 1px solid blue;
}

.movie_details_none p {
  margin-top: 2rem;
}
.bcg {
  opacity: 0.6;
  height: 500px;
  position: relative;
  z-index: 1;
}

.top_movies h3 {
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(23, 18, 18);
  gap: 1rem;
  margin: 1rem;
}
.container_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgb(23, 18, 18); */
  gap: 1rem;
}
.container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(23, 18, 18); */
  /* background-color: aliceblue; */
}
.movie_details img {
  /* height: 450px; */
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background-color: antiquewhite; */
}
.left h1 {
  color: white;
  font-weight: 400;
}
.right {
  margin: 0 2rem;
  padding: 2rem;
  flex: 1;
  /* background-color: antiquewhite; */
}
.right_1 {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.prod img {
  width: 70px;
  display: flex;
  margin: 3px;
}
.prod_flex {
  display: flex;
}
.right_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  line-height: 25px;
  width: auto;
  text-align: justify;
  /* background-color: antiquewhite; */
}
.percent {
  border-radius: 50px;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}

.trailer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carroussel {
  display: flex;
  align-items: center;
  overflow: scroll hidden;
  width: 1150px;
  margin-top: 2rem;
  gap: 1rem;
  padding: 2rem;
  background-color: rgba(84, 144, 146, 0.641);
  border-radius: 10px;
}
.top_movies img {
  cursor: pointer;
}

.carroussel::-webkit-scrollbar {
  display: none;
}

.similar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carroussel img {
  /* border: 1px solid red; */
  height: 230px;
  width: auto;
  border-radius: 10px;
  object-fit: contain;
}
.similar img {
  cursor: pointer;
}
.all_reviews {
  display: flex;
  flex-direction: column;
  /* border: 1px solid aliceblue; */
  border-right: 1px solid darkslategrey;
  overflow: hidden scroll;
  height: 600px;
  width: 925px;
  align-items: center;
}

.review img {
  height: 40px;
  width: 40px;
  border-radius: 70%;
  margin-bottom: 1rem;
}

.review {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 900px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: rgb(4, 67, 67);
  color: white;
  line-height: 20px;
}
.review p {
  padding-bottom: 1rem;
}
.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.actor {
  background-color: rgb(54, 168, 168);
  border-radius: 10px;
  text-align: center;
  height: 20px;
}

.actors img {
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.actors {
  background-color: rgb(54, 168, 168);
  border-radius: 10px;
  font-size: 15px;
}

/* -------------------- */
/* -----FAVORITES------ */
/* -------------------- */

.container_fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid rgb(23, 18, 18); */
  width: 1000px;
}
.fav img {
  height: 250px;
  border-radius: 10px;
  /* position: relative; */
}

.fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-fav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: calc(100vh - 25vh);
  margin: 2rem;
  padding: 0 2rem;
  border-radius: 10px;
  background-color: rgba(102, 185, 185, 0.215);
}
.delete-button {
  margin: 10px;
  height: 25px;
  width: 25px;
  font-weight: bold;
  background-color: rgb(54, 168, 168);
  transition: width 0.5s, height 0.5s, background-color 1s;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
}

.fav_title {
  width: 100px;
  height: 20px;
}
/* -------------------- */
/* -----ALL ACTORS----- */
/* -------------------- */

.container_all_cast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  border: 1px solid red;
}

.team {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid yellow;
  width: 100%;
  margin-top: 2rem;
}
.team_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_left img {
  height: 175px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.team_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_right img {
  height: 175px;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.all_crew {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_actors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------- */
/* ------ONE ACTOR----- */
/* -------------------- */

.details {
  display: flex;
  align-items: center;
  line-height: 25px;
  border-bottom: 2px solid darkslategray;
}
.details_left img {
  height: 400px;
  border-radius: 10px;
}

.details_left {
  padding: 2rem;
}

.details_rigth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  margin: 4rem;
}
.container_actor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid rgb(23, 18, 18); */
  gap: 1rem;
  margin: 3rem;
}
.all_movie_of_actor {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all_movie_of_actor img {
  height: 200px;
}
