body {
  background-color: rgb(69, 122, 124);
}

h1 {
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}
h3 {
  font-size: 25px;
  margin-bottom: 2rem;
  text-align: center;
}
h4 {
  text-align: center;
}

/* ------------ */
/* ---HEADER--- */
/* ------------ */
.head img {
  height: 30px;
}

.head {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(69, 122, 124);
  border-bottom: 1px solid lightgray;
}

/* ------------ */
/* ---MOVIES--- */
/* ------------ */

.side_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 1rem;
  padding: 2rem;
  width: 200px;
}

.list img {
  height: 250px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* -------------------- */
/* ---MOVIES DETAILS--- */
/* -------------------- */
.movie_details {
  padding: 2rem;
  border: 1px solid blue;
  /* flex: 1; */
}
.movie_details_none {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border: 1px solid blue;
  flex: 1;
  font-size: 20px;
}
.movie_details_none p {
  margin-top: 2rem;
}
.bcg {
  opacity: 0.6;
  height: 500px;
  position: relative;
  z-index: 1;
}

.text_none {
  position: absolute;
  top: 300px;
  z-index: 2;
  font-weight: bold;
  color: rgb(238, 253, 253);
  background-color: rgba(46, 44, 44, 0.513);
  /* opacity: 0.8; */
}
.container {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(23, 18, 18);
  gap: 1rem;
  margin: 1rem;
}
.container_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(23, 18, 18);
  gap: 1rem;
}
.container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(23, 18, 18);
  /* background-color: aliceblue; */
}
.movie_details img {
  /* height: 450px; */
  width: 400px;
  object-fit: cover;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  /* background-color: antiquewhite; */
}
.right {
  margin: 0 2rem;
  padding: 2rem;
  flex: 1;
  /* background-color: antiquewhite; */
}
.right_1 {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.prod img {
  width: 70px;
  display: flex;
  margin: 3px;
}
.prod_flex {
  display: flex;
}
.right_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  line-height: 25px;
  width: auto;
  text-align: justify;
  /* background-color: antiquewhite; */
}
.percent {
  border-radius: 50px;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}

.trailer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carroussel {
  display: flex;
  /* flex-direction: column; */
  overflow: scroll hidden;
  width: 1150px;
  margin-top: 2rem;
  gap: 1rem;
}

.carroussel::-webkit-scrollbar {
  display: none;
}

.similar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carroussel img {
  /* border: 1px solid red; */
  height: 230px;
  width: auto;
  border-radius: 10px;
  object-fit: contain;
}
.similar img {
  cursor: pointer;
}
.all_reviews {
  display: flex;
  flex-direction: column;
  /* border: 1px solid aliceblue; */
  overflow: hidden scroll;
  height: 600px;
  width: 925px;
  align-items: center;
}

.all_reviews::-webkit-scrollbar {
  width: 12px;
}

.all_reviews::-webkit-scrollbar-track {
  background: rgb(69, 122, 124);
}

.all_reviews::-webkit-scrollbar-thumb {
  background-color: rgb(93, 160, 162);
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(29, 77, 79);
}
.review img {
  height: 40px;
  width: 40px;
  border-radius: 70%;
  margin-bottom: 1rem;
}

.review {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 900px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: rgb(4, 67, 67);
  color: white;
  line-height: 20px;
}
.review p {
  padding-bottom: 1rem;
}
.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.actor {
  background-color: rgb(54, 168, 168);
  border-radius: 10px;
  text-align: center;
  height: 20px;
}

.actors img {
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.actors {
  background-color: rgb(54, 168, 168);
  border-radius: 10px;
}

/* -------------------- */
/* -----FAVORITES------ */
/* -------------------- */

.container_fav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid rgb(23, 18, 18);
  width: 1000px;
}
.fav img {
  height: 250px;
  border-radius: 10px;
  /* position: relative; */
}

.fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card-fav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border: 1px solid red;
  padding: 2rem;
}
.delete-button {
  margin: 10px;
  height: 25px;
  width: 25px;
  font-weight: bold;
  /* background-color: white;
  */
  background-color: rgb(54, 168, 168);
  transition: width 0.5s, height 0.5s, background-color 1s;
  /* color: red; */
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  /* z-index: 2; */
}
.delete-button:hover {
  height: 30px;
  width: 30px;
  background-color: red;
  color: white;
}

.fav_title {
  width: 100px;
  height: 20px;
}
